h6 {
    font-size: 2em;
}

.card-title {
    font-size: 1.5em;
}

.text-danger-mb-2-pointer {
    color: red;
    cursor: pointer;

}

.card-body {
    
    margin-left: 2em;
}

.col-md-8 {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

.btn-btn-outline-danger-mt-3 {
    background-color: #090909;
    color: white;
    width: 50%;
}

.col-md-4--mb-5 {
    width: 70%;
}